body {
  background: #070605 url('/img/bg-high.jpg') 50% 0 fixed;
}
/*** LAYOUT ***/
.header {
  width: 100%;
  padding-top: 60px;
}
.horizontal-menu {
  padding: 0;
  list-style-type: none;
  text-align: left;
  height: 60px;
}
.horizontal-menu .menu-item {
  float: left;
  text-align: center;
  padding: 0 20px;
  width: 20%;
}
.horizontal-menu .menu-item .menu-link {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #000;
}
.horizontal-menu .menu-item .menu-link.active {
  color: #fff;
}
.horizontal-menu .menu-item .menu-link:hover {
  color: #fff;
}
.content {
  padding: 20px 0;
  background-color: #0c0c0c;
}
.footer {
  padding: 50px 0 20px;
  text-align: center;
}
.footer .common-information {
  color: #000;
  font-weight: bold;
  text-shadow: black 1px 1px 2px;
}
/*** /LAYOUT ***/
.big-gallery {
  width: 370px;
  margin: 0 auto;
}
.big-gallery .gallery-item {
  /*float: left;*/
  background-color: #0c0c0c;
  text-align: center;
  margin-bottom: 5px;
  /*width: 100%;*/
}
.big-gallery .gallery-item img {
  /*margin: 2px 0;*/
}
@media (min-width: 500px) {
  .big-gallery {
    width: 370px;
    margin: 0 auto;
  }
  .big-gallery .gallery-item {
    /*width: 20%;*/
  }
}
@media (min-width: 768px) {
  .big-gallery {
    width: 740px;
    margin: 0 auto;
  }
  .big-gallery .gallery-item {
    /*width: 20%;*/
  }
}
@media (min-width: 992px) {
  .big-gallery {
    width: 925px;
    margin: 0 auto;
  }
  .big-gallery .gallery-item {
    /*width: 20%;*/
  }
}
@media (min-width: 1200px) {
  .big-gallery {
    width: 1110px;
    margin: 0 auto;
  }
  .big-gallery .gallery-item {
    /*width: 20%;*/
  }
}
