body {
  background: #070605 url('/img/bg-high.jpg') 50% 0 fixed;
}
/*** LAYOUT ***/
.header {
  width: 100%;
  padding-top: 60px;
}
.horizontal-menu {
  padding: 0;
  list-style-type: none;
  text-align: left;
  height: 60px;
}
.horizontal-menu .menu-item {
  float: left;
  text-align: center;
  padding: 0 20px;
  width: 20%;
}
.horizontal-menu .menu-item .menu-link {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #000;
}
.horizontal-menu .menu-item .menu-link.active {
  color: #fff;
}
.horizontal-menu .menu-item .menu-link:hover {
  color: #fff;
}
.content {
  padding: 20px 0;
  background-color: #0c0c0c;
}
.footer {
  padding: 50px 0 20px;
  text-align: center;
}
.footer .common-information {
  color: #000;
  font-weight: bold;
  text-shadow: black 1px 1px 2px;
}
/*** /LAYOUT ***/
/*** MOZAIKA ***/
.page-mozaika .content {
  background-color: #1f1a17;
}
.gallery .gallery-item {
  /*float: left;*/
  padding: 0 10px;
  margin: 10px 0;
}
.gallery .gallery-item {
  /*padding: 2px 2px 0 0;*/
  height: 160px;
}
.gallery .gallery-item:last-child {
  padding-right: 0;
}
.gallery .gallery-item img {
  height: 147px;
  width: 250px;
}
@media (min-width: 500px) {
  .gallery .gallery-item,
  .gallery .gallery-item img {
    height: 160px;
  }
  .gallery .gallery-item img {
    width: auto;
  }
}
@media (min-width: 768px) {
  .gallery .gallery-item,
  .gallery .gallery-item img {
    height: 190px;
  }
}
@media (min-width: 992px) {
  .gallery .gallery-item,
  .gallery .gallery-item img {
    height: 166px;
  }
}
@media (min-width: 1200px) {
  .gallery .gallery-item,
  .gallery .gallery-item img {
    height: 205px;
  }
}
.download-article .title {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.download-article .download-link a {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.factories,
.chemistry {
  width: 100%;
}
.factories th,
.chemistry th {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.factories td,
.chemistry td {
  padding: 10px;
  height: 60px;
  vertical-align: middle;
}
.factory-link .image,
.chemistry-link .image {
  width: 70px;
}
.factory-link .title,
.chemistry-link .title {
  font-weight: bold;
  font-size: 12px;
}
/*** /MOZAIKA ***/
