@import "../../common";

.big-gallery {
  width: 370px;
  margin: 0 auto;

  .gallery-item {
    /*float: left;*/
    background-color: #0c0c0c;
    text-align: center;
    margin-bottom: 5px;
    /*width: 100%;*/

    img {
      /*margin: 2px 0;*/
    }
  }
}


@media (min-width: 500px) {
  .big-gallery {
    width: 370px;
    margin: 0 auto;

    .gallery-item {
      /*width: 20%;*/
    }
  }
}

@media (min-width: 768px) {
  .big-gallery {
    width: 740px;
    margin: 0 auto;

    .gallery-item {
      /*width: 20%;*/
    }
  }
}

@media (min-width: 992px) {
  .big-gallery {
    width: 925px;
    margin: 0 auto;

    .gallery-item {
      /*width: 20%;*/
    }
  }
}

@media (min-width: 1200px) {
  .big-gallery {
    width: 1110px;
    margin: 0 auto;

    .gallery-item {
      /*width: 20%;*/
    }
  }
}
