{% extends "layout.html" %}

{% block content %}
        <div class="content col-lg-12">
            <div class="big-logo">
                <img src="/img/index/big-logo.png" alt="Студия Kora">
            </div>

            <div class="small-gallery">
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-1.jpg">
                </div>
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-2.jpg">
                </div>
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-3.jpg">
                </div>
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-4.jpg">
                </div>
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-5.jpg">
                </div>
                <div class="gallery-item col-xs-2">
                    <img src="/img/index/gallery-6.jpg">
                </div>
            </div>

        </div>
{% endblock %}