{% extends "layout.html" %}

{% block content %}
        <div class="content col-lg-12">
            <div class="gallery">
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="/img/mozaika/panno.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Мозаичное панно" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/panno-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="/img/mozaika/decors.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Декор из мозайки" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/decors-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="/img/mozaika/mix.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Мозаичный микс" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/mix-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="/img/mozaika/rastyazhka.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Растяжка из мозайки" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/rastyazhka-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a href="/img/mozaika/bassein.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Бассейны, хаммамы, wellness и spa-салоны" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/bassein-small.jpg">
                    </a>
                </div>
            </div>

            <div class="content col-lg-12">
                <div class="download-article">
                    <div class="title">
                        Скачать:
                    </div>
                    <div class="download-link">
                        <a href="/Instruktsiya po ukladke mozaik.pdf">Инструкция по укладке мозайки</a>
                    </div>
                    <div class="download-link">
                        <a href="/Katalog mozaiki.pdf">Каталог мозайки</a>
                    </div>
                </div>
            </div>

            <div class="content col-lg-12">
                <div class="logos-article">
                    <div class="factories-logos-container col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <table class="factories">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    Фабрики:
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" class="factory-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/sicis-logo.jpg" alt="sicis logo" class="factory-logo">
                                                </td>
                                                <td class="title">
                                                    www.sicis.com
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="factory-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/trend-logo.jpg" alt="trend group logo" class="factory-logo">
                                                </td>
                                                <td class="title">
                                                    www.trend-group.com
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" class="factory-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/bisazza-logo.jpg" alt="bisazza logo" class="factory-logo">
                                                </td>
                                                <td class="title">
                                                    www.bisazza.com
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                                <td>
                                    <a href="" class="factory-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/appiani-logo.jpg" alt="appiani logo" class="factory-logo">
                                                </td>
                                                <td class="title">
                                                    www.appiani.it
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="chemistry-logos-container col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <table class="chemistry">
                            <thead>
                            <tr>
                                <th>
                                    Строительная химия:
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" class="chemistry-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/litokol-logo.jpg" alt="litokol logo" class="chemistry-logo">
                                                </td>
                                                <td class="title">
                                                    www.litokol.ua
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" class="chemistry-link">
                                        <table>
                                            <tr>
                                                <td class="image">
                                                    <img src="/img/mozaika/mapei-logo.jpg" alt="mapei logo" class="chemistry-logo">
                                                </td>
                                                <td class="title">
                                                    www.mapei.com
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}