{% extends "layout.html" %}

{% block content %}
        <div class="content col-lg-12">
            <div class="gallery">
                <div class="gallery-item col-lg-4 col-sm-6 col-xs-6">
                    <a href="/img/mozaika/panno.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Мозаичное панно" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/panno-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-sm-6 col-xs-6">
                    <a href="/img/mozaika/decors.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Декор из мозайки" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/decors-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-sm-6 col-xs-6">
                    <a href="/img/mozaika/mix.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Мозаичный микс" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/mix-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-sm-6 col-xs-6">
                    <a href="/img/mozaika/rastyazhka.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Растяжка из мозайки" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/rastyazhka-small.jpg">
                    </a>
                </div>
                <div class="gallery-item col-lg-4 col-sm-6 col-xs-6">
                    <a href="/img/mozaika/bassein.jpg" class="image-lightbox resizeme" data-resize-height="100" data-resize-width="100" data-lightbox-title="Бассейны, хаммамы, wellness и spa-салоны" data-lightbox-gallery="gallery">
                        <img src="/img/mozaika/bassein-small.jpg">
                    </a>
                </div>
            </div>

        </div>
{% endblock %}